EXEC [userManagement].[ChangePassword]
    @username = ${params.username},
    @password = ${params.password},
    @newPassword = ${params.newPassword},
    @portName = ${params.portName},
    @userId = ${params.userId}